#postbox-container-2,
#postbox-container-2 .postbox-tabs { position: relative; }

#normal-sortables.postbox-tabs .handlediv,
#normal-sortables.postbox-tabs .hndle { display: none !important; }

#postbox_tabs { margin: 0; }
#postbox_tabs li {
	display: inline-block;
	margin: 3px 3px 0 0;
	padding: 0px;
	border: none;
}
#postbox_tabs li.hide { display: none; }

#postbox_tabs li button {
	position: relative;
	display: inline-block;
	padding: 8px 12px;
	margin-bottom: -1px;
	border: 1px solid #dfdfdf;
	border-bottom-color: #E5E5E5;
	background-color: #EBEBEB;
	color: #666;
	font-size: 14px;
	text-decoration: none;
	-webkit-transition: background-color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
					transition: background-color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#postbox_tabs li button:hover {
	cursor: pointer;
	background-color: #fdfdfd;
}
#postbox_tabs li button.active {
	color: #000;
	font-weight: bold;
	background-color: #FFF;
	border-bottom-color: #FFF;
}
#postbox_tabs li button.active:after {
	content: " ";
	position: absolute;
	bottom: -1px;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #fff;
}

#postbox-container-2 .postbox-tabs .postbox {
	position: absolute;
	width: 100%;
	visibility: hidden;
}
#postbox-container-2 .postbox-tabs .postbox.active { visibility: visible; }
